<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <sustainsys.saml2 xdt:Transform="Replace" entityId="https://first-web-sso-app.azurewebsites.net/saml2" returnUrl="https://first-web-sso-app.azurewebsites.net/">
    <identityProviders>
      <add entityId="https://sts.windows.net/08396ad5-fd8c-4c92-a481-e11e65398d12/" signOnUrl="https://login.microsoftonline.com/08396ad5-fd8c-4c92-a481-e11e65398d12/saml2" allowUnsolicitedAuthnResponse="true" binding="HttpRedirect">
        <signingCertificate fileName="~/App_Data/test-non-gallery-app.cer" />
      </add>
    </identityProviders>
    <federations>
      <add metadataLocation="https://login.microsoftonline.com/08396ad5-fd8c-4c92-a481-e11e65398d12/federationmetadata/2007-06/federationmetadata.xml?appid=a9df69ea-b62e-41b3-b6df-d05144d6209c" allowUnsolicitedAuthnResponse="true" />
    </federations>
  </sustainsys.saml2>
  <system.identityModel xdt:Transform="Replace">
    <identityConfiguration>
      <securityTokenHandlers>
        <add type="System.IdentityModel.Services.Tokens.MachineKeySessionSecurityTokenHandler, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <remove type="System.IdentityModel.Tokens.SessionSecurityTokenHandler, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </securityTokenHandlers>
    </identityConfiguration>
  </system.identityModel>
</configuration>
